PORT=3000
SESSION_LIFETIME=86400 #second

PROJECT_NAME=Habit_tracker

POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost

REDIS_PORT=6379

RESEND_API_KEY=
EMAIL_FROM=